<!doctype html>
<html>
    <head>
        <title>User Signup</title>
        <style>
            .error {color: red;}
        </style>
    </head>
    <body>
        <h1>Signup Form!</h1>
        <form method="post">
            <table>
                <tr>
                    <td class="label">
                        <label for="username">Username:</label>
                    </td>
                    <td class="input">
                        <input type="text" name="username" value="{{username}}" id="username" />
                    </td>
                    <td class="error">
                        <span class="error">{{username_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="password-initial">Password:</label>
                    </td>
                    <td class="input">
                        <input type="password" name="password_initial" value="{{password_initial}}" id="password-initial" />
                    </td>
                    <td class="error">
                        <span class="error">{{password_initial_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="password-verify">Verify password:</label>
                    </td>
                    <td class="input">
                        <input type="password" name="password_verify" value="{{password_verify}}" id="password-verify" />
                    </td>
                    <td class="error">
                        <span class="error">{{password_verify_error}}</span>
                    </td>
                </tr>
                <tr id=email-row>
                    <td class="label">
                        <label for="email">Email (optional):</label>
                    </td>
                    <td class="input">
                        <input type="text" name="email" value="{{email}}" id="email" />
                    </td>
                    <td class="error">
                        <span class="error">{{email_error}}</span>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Register" />
        </form>
    </body>
</html>